@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Schoolbell:regular);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  color: #696969;
  background-color: #FFFFFF;
}

html {
  font-size: 15px;
  /* по умолчанию */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

.wrapper__block {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.header__block {
  background: #043E51 url("../../public/images/header/header_greeting/Rectangle.png") 0px 0px/cover no-repeat;
}
.header__block_fade-in {
  -webkit-animation: fadeIn ease 5s;
          animation: fadeIn ease 5s;
  padding: 20px 28px 21px 28px;
  max-width: 244px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__block_quote {
  font-size: 14px;
  line-height: 132%;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.header__block_image {
  border-radius: 50%;
  margin-right: 15px;
}
.header__block_name {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  color: #FFFFFF;
}
.header__block_profession {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 154%;
  color: #A1B5BB;
}
.header__content {
  padding-top: 45px;
  padding-bottom: 302px;
  background: url("../../public/images/header/header_greeting/image.svg") 412px 58px/918px 755px no-repeat;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main_margin {
  margin-bottom: 179px;
}
.header__main h4 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 100%;
}
.header__main h4::before {
  content: url(../../public/images/header/header_main/logo.svg);
  display: inline-block;
  vertical-align: middle;
}
.header__main_menu {
  width: 479px;
}
.header__main_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main_link {
  flex: 0 1 20%;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #A1B5BB;
}
.header__main_link:hover {
  border-bottom: 2px solid #265A6A;
}
.header__main_contact-link {
  border-radius: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 132%;
  color: #FFFFFF;
  padding: 14px 34px 15px 35px;
  background-color: #145E76;
  margin-left: auto;
}
.header__main_contact-link:hover {
  background-color: #FFA63A;
}
.header__greetings h4 {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 30px;
  font-family: Schoolbell;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #094556;
  margin-bottom: 40px;
}
.header__greetings_title {
  max-width: 537px;
  font-weight: 400;
  font-size: 64px;
  line-height: 103%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.header__greetings_subtitle {
  max-width: 511px;
  font-size: 18px;
  line-height: 132%;
  color: #849499;
  margin-bottom: 50px;
}
.header__greetings_list {
  display: flex;
}
.header__greetings_link {
  padding: 16px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 132%;
  color: #B6CDD4;
  margin-right: 50px;
}
.header__greetings_link:hover {
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #FFA63A;
}