

body._lock {
	overflow: hidden;
}

.wrapper__block {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="_container"] {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 30px;
  box-sizing: content-box;
}


// PC
// @media (max-width: 1087px) {
// 	._container{
// 		max-width: 970px;
// 	}
// }

// Tablet
// @media (max-width: 991.98px) {
// 	._container{
// 		max-width: 750px;
// 	}
// }

// Mobile
// @media (max-width: 767.98px) {
// 	._container{
// 		max-width: none;
// 	}
// }



// --------    HEADER       -----

.header {

	&__block {
		background: #043E51 url('img/header/header_greeting/Rectangle.png') 0px 0px / cover no-repeat;
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	
		@media (max-width: 900px) {
			&__container {
				padding-top: 95px;
			}
		}

	&__block_fade-in{
		position: absolute;
		top: 356px;
		right: -232px;
		animation: fadeIn ease 5s;
		padding: 20px 25px;
		max-width: 300px;
		border: 3px solid rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		z-index: 5;
		background-color: rgba(255, 255, 255, 0.08);
		backdrop-filter: blur(25px);
	}

	@media (max-width: 900px) {
		&__block_fade-in{
			position: static;
			// order: 1;
			flex: 1 1 100%;
		}
	}

	@media (max-width: 1700px) {
		&__block_fade-in{
			top: 153px;
			right: 376px;
		}
	}

	@keyframes fadeIn{
		0% {opacity:0;}
		100% {opacity:1;}
	}

	&__block_quote{
		font-size: 14px;
		line-height: 132%;
		color: #FFFFFF;
		text-align: left;
		margin-bottom: 15px;
	}

	&__block_flex{
		display: flex;
	}

	&__block_image{
		flex: 0 0 45px;
		border-radius: 50%;
	}

	&__block_content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 15px;
	}

	&__block_name{
		font-weight: 500;
		font-size: 16px;
		line-height: 116%;
		color: #FFFFFF;
	}

	&__block_profession{
		font-weight: 400;
		font-size: 12px;
		line-height: 154%;
		color: #A1B5BB;
	}

	&__content{
		// contain: content; //позволяет фиксированному потомку находиться в рамках контейнера
		padding-bottom: 302px;
	}

	@media (max-width: 991.98px) {

		&__content {
			padding-bottom: 240px;
		}
	}

	&__fixed{
		position: fixed;
		top: 0px;
		left: 0;
		width: 100%;
		background: #043E51 url('img/header/header_greeting/Rectangle.png') 0px 0px / cover no-repeat;
		z-index: 50;
	}

	

	// &__controls {
	// }

	&__main {
		max-width: 1170px;
		display: flex;
		align-items: center;
		min-height: 148px;
		margin: 0 auto;

		@media (max-width: 1087px) {
			justify-content: space-between;
		}	

		@media (max-width: 1221px) {
			padding: 0 30px;
		}

		@media (max-width: 991.98px) {
			min-height: 90px;
		}

		&_button{
			display: none;

		}
	
		@media (max-width: 767.98px) {
			// &_button {
			// 	z-index: 5;
			// 	display: block;
			// 	position: relative;
			// 	width: 30px;
			// 	height: 18px;
			// 	cursor: pointer;
			// }

			// &_button span,
			// &_button::before,
			// &_button::after {
			// 	left: 0;
			// 	position: absolute;
			// 	height: 10%;
			// 	width: 100%;
			// 	transition: all 0.3s ease 0s;
			// 	background-color: rgb(130, 28, 28);
			// 	z-index: 100;
			// }

			// &_button::before {
			// 	top: 0;
			// }
		
			// &_button:after {
			// 	bottom: 0; 
			// }
		
			// &_button span {
			// 	top: 50%;
			// 	transform: scale(1) translate(0px, -50%);
			// }
		
			// &_button span {
			// 	transform: scale(0) translate(0px, -50%);
			// }
			// &_button._active::before{
			// 	top: 50%;
			// 	transform: rotate(-45deg) translate(0px, -50%);
			// }
		
			// &_button._active::after{
			// 	bottom: 50%;
			// 	transform: rotate(45deg) translate(0px, 50%);
			// }

			// ============================
			&_button {
				flex: 0 0 40px;
				display: block;
				color: #A1B5BB;
				cursor: pointer;
				font-size: 40px;
				transition:0.3s;
			}

			&_button:active {
				color: #FFA63A;
			}
		}

		&_logo {
			white-space: nowrap;
		}

		@media (max-width: 767.98px) {
			&_logo{
				flex: 0 1 48%;
				display: flex;
				justify-content: flex-end;
			}
		}

		h4{
			font-weight: bold;
			color: #FFFFFF;
			font-size: 30px;
			line-height: 100%;
		}

		h4::before{
			content: url(img/header/header_main/logo.svg);
			display: inline-block;
			vertical-align: middle;
		}

		&_menu {
			flex: 0 1 750px;
			display: flex;
			justify-content: flex-end;
		}

		@media (max-width: 1087px) {
			&_menu {
				justify-content: center;
			}
			
			&_menu._active{
				left: 0;
			}
		}

		@media (max-width: 767.98px) {
			&_menu {
				position: fixed;
				top: 90px;
				left: -100%;
				width: 100%;
				height: 100%;
				padding: 20px 30px 30px 30px;
				background-color: #043E51;
				// transition: all 0.3s ease 0s;
				overflow: auto;
			}
		}

		&_list {
			display: flex;
			align-items: center;
		}

		@media (max-width: 767.98px) {
			&_list {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&_list > li {
				margin: 0px 0px;
				padding-bottom: 20px;
			}
		}
				
		// &_item {
		// }

		@media (min-width: 767.98px) {
			&_item:not(:last-child){
				margin-right: 50px;
			}
		}

		&_link {
			// display: flex;
			// align-items: center;
			flex: 0 1 20%;
			font-weight: 600;
			font-size: 18px;
			line-height: 100%;
			color: #A1B5BB;
			transition: all 0.3s ease 0s;
		}

		@media (max-width: 991.98px) {
			&_link {
				flex: 1 1 100%;
			}
		}

		&_link:hover{
			color: #265A6A;
			// border-bottom: 2px solid #265A6A;
		} 
		
		&_link::after {
			content: '';
			
			display: block;
			background-color: #265A6A;
			height: 2px;
			width: 100%;
			transition: opacity 0.3s ease; 
			opacity: 0;
		}

		&_link:hover::after {
			opacity: 1;
		}
		
		&_contact {
			margin-left: auto;
		}

		&_contact-link {
			border-radius: 25px;
			font-weight: 700;
			font-size: 18px;
			line-height: 132%;
			color: #FFFFFF;
			padding: 18.5px 35px;
			background-color: #145E76;
		}

		@media (max-width: 767.98px) {
			&_contact-link {
				padding: 15px 22px;
			}
		}

		&_contact-link:hover{
			background-color: #094556;
			color: #B6CDD4;
			// text-shadow: 2px 2px 2px #000
		}
		&_contact-link:active{
			text-shadow: 2px 2px 2px #000;
		}
	
	}

	&__greetings {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 146px;
		// margin-top: -18px;
		// background: url('img/header/header_main/Rectangle\ 13.png') right 86px/ 490px 615px no-repeat; 
	
		@media (max-width: 900px) {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 15px;
		}

		@media (max-width: 1006px) {
			// background: none;
		}		

		@media (max-width: 991.98px) {
			gap: 15px;
			margin-top: 0px;
		}

		&_hello  {
			display: inline-block;
			padding: 16px 30px;
			border-radius: 30px;
			font-family: Schoolbell;
			font-size: 24px;
			line-height: 100%;
			color: #FFFFFF;
			background-color: #094556;
			margin-bottom: 40px;
		}

		@media (max-width: 900px) {
			&_hello{
				display: block;
				text-align: center;
			}
		}
		
		&_content{
			// flex: 0 0 50%;
			padding-top: 105px;
		} 

		@media (max-width: 900px) {
			&_content{
			flex: 0 0 100%;
			padding-top: 0px;
			}
		}

		&_title {
			max-width: 537px;
			font-weight: 400;
			font-size: 64px;
			line-height: 103%;
			color: #FFFFFF;
			margin-bottom: 30px;
		}

		@media (max-width: 1087px) {
			&_title{
				font-size: 42px;
			}
		}

		@media (max-width: 900px) {
			&_title{
				max-width: 100%;
				// text-align: center;
			}
		}

		@media (max-width: 767.98px) {
			&_title {
				font-size: 30px;
			}
		}

		&_subtitle {
			max-width: 511px;
			font-size: 18px;
			line-height: 132%;
			color: #849499;
			margin-bottom: 50px;
		}

		@media (max-width: 900px) {
			&_subtitle{
				max-width: 100%;
			}
		}

		// &_menu {
		// }

		&_list {
			display: flex;
			flex-wrap: wrap;
			row-gap: 40px;
		}

		@media (max-width: 900px) {
			&_list{
				justify-content: space-around;
			}
		}
		
		&_link {
			padding: 16px 35px;
			font-weight: 700;
			font-size: 18px;
			line-height: 132%;
			color: #B6CDD4;
			margin-right: 15px;
			margin-bottom: 57px;
			border-radius: 25px;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 900px) {
			&_item {
				margin: 0;
			}
		}
	
		&_link:hover{
			border-radius: 25px;
			color: #FFFFFF;
			background-color: #FFA63A;
		}

		&_link:active{
			text-shadow: 2px 2px 2px #000;
		}

		&_img-block{
			flex: 0 0 490px;
			background: url('img/header/header_main/Rectangle\ 13.png') right 86px/ 490px 615px no-repeat; 
		}

		&_img-block::after{
			content: "";
			display: block;
			width: 100%;
			height: 20px;
			background-color: #265A6A;
			
		}

		@media (max-width: 900px) {
			&_img-block{
				display: none;
			}
		}

		&_img{
			width: 100%;
			display: block;
		}
		
	}
}

// ========     Main    ============

.statistics {
	pointer-events: all;
	// &__block {

	// }

	// &__container {

	// }

	&__content {
		margin: -161px auto 0px auto;
		padding-top: 78px;
		padding-bottom: 78px;
		border-radius: 30px; 
		background-color: #FFFFFF;
		filter: drop-shadow(0px 73px 80px rgba(0, 0, 0, 0.06));
	}

	&__content_box{		
		margin: 0 auto;
		max-width: 734px;
	}

	@media (max-width: 900px) {
		&__content_box {
			padding-right: 60px;
			padding-left: 60px;
		}
	}
	
	&__name {
		margin-bottom: 69px;
		font-weight: 600;
		font-size: 24px;
		line-height: 77%;
		color: #265A6A;
	}

	@media (max-width: 900px) {
		&__name {
		text-align: center;
		}
	}


	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-right: -45px;
		margin-left: -45px;
		margin-bottom: -50px;
	}

	&__column {
		display: flex;
		justify-content: center;
		padding-right: 45px;
		padding-left: 45px;
		margin-bottom: 50px;
	}

	@media (max-width: 900px) {
		&__column {
			flex: 0 1 50%;
		}
	}

	@media (max-width: 900px) {
		&__column {
			flex: 0 1 50%;
		}
	}

	@media (max-width: 568px) {
		&__column {
			flex: 0 1 100%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 23px;
		font-weight: 600;
		font-size: 48px;
		line-height: 39%;
		color: #08546C;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 18px;
		line-height: 103%;
		color: #08546C;
		white-space: nowrap;
	}
}

.services {

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 200px;
	}

	@media (max-width: 900px) {
		&__content { 
			padding-top: 100px;
		}
	}

	&__title {
		margin-bottom: 30px;
		font-family: Schoolbell;
		font-weight: 400;
		font-size: 24px;
		line-height: 67%;
		color: #265A6A;
		text-decoration: underline;
	}

	&__subtitle {
		margin-bottom: 70px;
		max-width: 510px;
		font-weight: 600;
		font-size: 45px;
		line-height: 110%;
		color: #08546C;
	}

	@media (max-width: 767.98px) {
		&__subtitle {
			font-size: 30px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-right: -13px;
		margin-left: -13px;
		margin-bottom: -30px;
	}

	&__column {
		flex: 0 1 25%;
		padding-right: 13px;
		padding-left: 13px;
		margin-bottom: 30px;
	}

	@media (max-width: 1200px) {
		&__column {
			flex: 0 1 50%;
		}
	}

	@media (max-width: 767.98px) {
		&__column {
			flex: 0 1 100%;
		}
	}

	&__item {
		padding: 30px 29px;
		background-color: #FFFFFF;
		filter: drop-shadow(0px 41px 33px rgba(0, 0, 0, 0.0503));
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	@media (max-width: 767.98px) {
		&__item {
			display: flex;
		flex-direction: column;
		align-items: center;
		}
	}

	&__item:hover {
		background-color: #08546C;
	}

	&__item-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #F5FBFC;
	}

	&__item_img-anchor::before {
		content: url('img/services/anchor_dark.png');
	}

	&__item_img-monitor::before {
		content: url('img/services/monitor_dark.png');
	}
	
	&__item_img-eye::before {
		content: url('img/services/eye_dark.png');
		margin: auto;
	}

	&__item:hover  &__item-icon {
		background-color: #FFA800;
	}

	&__item:hover &__item_img-anchor::before {
		content: url('img/services/anchor_white.png');
	}

	&__item:hover &__item_img-monitor::before {
		content: url('img/services/monitor_white.png');
	}

	&__item:hover &__item_img-eye::before {
		content: url('img/services/eye_white.png');
	}

	&__item-title {
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
		color: #0F1221;
	}

	&__item:hover &__item-title {
		color: #fff;
	}

	&__item-subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 132%;
		color: #696969;
	}

	&__item:hover	&__item-subtitle {
		color: #B2BBBD;
	}
}

.portfolio {

	&__block {
	}

	&__container {
	}

	&__content {
		padding-top: 200px;
		padding-bottom: 200px
	}

	@media (max-width: 900px) {
		&__content {
			padding-top: 100px;
			padding-bottom: 100px
		}
	}

	@media (max-width: 1230px) {
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			
		}
	}	

	&__title {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 45px;
		line-height: 103%;
		color: #08546C;
	}

	&__subtitle {
		margin-bottom: 60px;
		max-width: 569px;
		font-weight: 400;
		font-size: 18px;
		line-height: 132%;
		color: #757575;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-right: -70px;
		margin-left: -70px;
		margin-bottom: -70px;
	}

	@media (max-width: 1230px) {
		&__items {
			flex-direction: column;
			justify-content: center;
			align-items: center; 
		}
	}

	&__column {
		flex: 0 1 50%;
		padding-right: 70px;
		padding-left: 70px;
		margin-bottom: 70px;
	}

	@media (max-width: 1230px) {
		&__column {
			flex: 0 1 100%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;

		&_image {
			margin-bottom: 40px;
			max-width: 515px;
			max-height: 386px;
		}

		&_image img {
			width: 100%; 
			max-width: 515px;
			height: auto; 
			
		}

		&_title {
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 30px;
			line-height: 79%;
			color: #08546C;
		}

		&_subtitle {
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 132%;
			color: #757575;
			max-width: 426px;
		}

		&_link-box::after {
			content: url('img/portfolio/arrow.png');
			margin-left: 15px;
			vertical-align: middle;
			transition: all 0.5s ease 0s;
		}

		&_link-box:hover::after{
			display: none;
			opacity: 0;
		}

		&_link {
			position: relative;
			display: inline-flex;
			position: relative;
			font-weight: 500;
			font-size: 18px;
			line-height: 118%;
			white-space: nowrap;
			color: #08546C;
			transition: all 0.2s ease 0s;
			cursor: pointer;
		}

		&_link::after {
			display: inline-block;
			content: url('img/portfolio/arrow.png');
			margin-left: 15px;
			vertical-align: middle;
			transition: all 0.2s ease 0s;
		}

		&_link:hover::after {
			opacity: 0;
		}

	 	&_link:hover {
			color: #FFA800;
		}

		&_link span::after {
			position: absolute;
			content: url('img/portfolio/yellow_arrow.png');
			margin-left: 15px;
			vertical-align: middle;
			transition: all 0.2s ease 0s;
			opacity: 0;
		}

		&_link:hover span::after {
			content: url('img/portfolio/yellow_arrow.png');
			margin-left: 15px;
			vertical-align: middle;
			opacity: 1;
		}

	}
}

.quote {

	&__block {
	}

	&__container {
	}

	&__content {
	}

	&__text {
	}

	&__subtext {
	}

	&__arrow {

		&_left {
		}

		&_right {
		}
	}
}









