.blog-block {

	&__container {
		position: relative;

		@media (min-width: 930px) {
			display: flex;
			justify-content: space-between;
			max-width: 1059px;
		}

	}

	&__achievements {
		display: flex;
		flex-direction: column;
		@media (min-width: 930px) {
			flex-basis: 55%;
			max-width: 585px;

		}
	
	}

	&__slider {
	}

	&__slider-item {
	}

	&__slider-link {
	}

	&__slider-image {
		position: relative;
		margin: 0 auto;
		margin-bottom: 40px;
		max-height: 585px;
		// width: 100%;
		
	}


	&__slider-title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 35px;
		line-height: 1.2;
		color: #08546C;

		@media (max-width: 930px) {
			font-size: 30px;
			text-align: center;
		}
	}

	&__slider-tagline {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.6;
		color: #757575;
	}

	&__arrow-wrapper {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;

		@media (min-width: 930px) {
			position: absolute;
			bottom: 25%;
			left: 70%;
			transform: translateY(-50%);
			z-index: 10;
		}
		
	}

	&__arrow {
		padding: 15px;
		border: 1px solid #FFA800;
		border-radius: 50%;
		cursor: pointer;
		fill: none;
		stroke: #FFA800;
		transition-duration: 0.3s;

		&:hover {
			stroke: #FFFFFF;
			background-color: #FFA800;
			
		}
	}

	&__arrow-left {
	}

	&__arrow-right {
		margin-left: 30px;
	}

	&__list {
		text-align: center;
		@media (min-width: 526px) {
			display: flex;
			align-items: center;
			margin-left: -26px;
		}
	}

	&__item {
		@media (max-width: 526px) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-left: auto;
			margin-bottom: 0;
		}
	}

	&__item-link {
		padding: 12px 26px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.8;
		color: #757575;
		transition-duration: 0.3s;

		&:hover {
			background: #FFF8EB;
			border-radius: 30px;
			color: #FFA800;
		}

		
	}

	&__data {
		font-size: 14px;
		line-height: 1.8;
		color: #757575;
	}

	&__my-blog-news {
		display: flex;
		flex-direction: column;
		@media (min-width: 930px) {
			display: block;
			flex-basis: 31%;
			padding-top: 0;
			padding-bottom: 137px;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 45px;
		line-height: 1.3;
		color: #08546C;

		@media (max-width: 930px) {
			font-size: 30px;
			text-align: center;

		}
	}

	&__tagline {
		margin-bottom: 60px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.6;
		color: #757575;
	}

	&__link {
		display: inline-block;
		margin-bottom: 192px;
		padding: 16px 30px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.6;
		color: #FFFFFF;
		background: #FFA63A;
		box-shadow: 0px 100px 80px rgba(255, 166, 58, 0.07), 0px 41.7776px 33.4221px rgba(255, 166, 58, 0.0503198), 0px 22.3363px 17.869px rgba(255, 166, 58, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 166, 58, 0.035), 0px 6.6501px 5.32008px rgba(255, 166, 58, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 166, 58, 0.0196802);
		border-radius: 30px;

		@media (max-width: 930px) {
			margin: 0 auto;
		}
	}
}
