@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Schoolbell:regular);

html {
	box-sizing: content-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: inherit;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
   max-width: 100%;
   height: auto;
}

body {
	height: 100%;
   color: #696969;
  	background-color: #FFFFFF;

	font-family: Inter, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
}

body.lock {
	overflow: hidden;
}

.wrapper-block {
  min-height: 100%;
}

.container{
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 30px;
}

section,
article {
	padding: 100px 0;
}

@media (max-width: 1050px) {
	section,
	article {
		padding: 50px 0;
	}
}

@media (max-width: 768px) {
	section,
	article {
		padding: 25px 0;
	}
}