.testimonials-block {
	background-color: #043E51;
	background-image: url('img/header/header_greeting/Rectangle.png');

	&__container {

		@media (min-width: 1150px) {
			display: flex;
			gap: 47px;
		}
	}

	&__image-box {
		display: none;

		@media (min-width: 1150px) {
			display: block;
			padding-top: 16;
			flex-basis: 0;
			flex-grow: 1;
			min-height: 542px;
			background-image: url('img/header/header_main/Rectangle\ 13.png'); 
			background-repeat: no-repeat;
			background-size: 431px 542px;
			background-position: 34px top;
		}
	}

	&__image {
		padding-top: 18px;
		padding-left: 49px;
		width: 513px;
	}

	&__slider {
		@media (max-width: 1149px) {
			position: relative;
			display: flex;
			overflow: hidden;
			flex-direction: column;
			justify-content:center;
		}

		@media (min-width: 1150px) {
			flex-basis: 0;
			flex-grow: 1;
			padding-top: 83px;
			padding-bottom: 121px;
			min-width: 0;
		}
		
	}

	&__slider-item {
		animation: fadeIn ease 5s;
	}

	@keyframes fadeIn{
		0% {opacity:0;}
		100% {opacity:1;}
	}

	&__description {
		margin-bottom: 20px;
		padding-top: 77px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		color: #FFFFFF;
		background-image: url('img/testimonials/quotes.png');
		background-repeat: no-repeat;
		animation: fadeIn ease 5s;

	}

	&__author {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		color: #AABFC6;
	}

	&__arrow-wrapper {

		@media (max-width: 1149px) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 8px;
		}
	}

	&__arrow {
		cursor: pointer;
		fill: none;
		stroke: #A6C1CA;
		transition-duration: 0.3s;

		&:hover {
			stroke: #FFFFFF;
			transform: scale(2);
		}
	}

	&__arrow_left {
		@media (max-width: 1149px) {
		}
	}
	
	&__arrow_right {
		margin-left: 25px;

		@media (max-width: 1149px) {
			margin-left: 50px;
		}
	}
}
