.testimonials-block {
	background-color: #043E51;
	background-image: url('img/header/header_greeting/Rectangle.png');

	&__container {

		@media (min-width: 1150px) {
			display: flex;
			align-items: center;
			gap: 47px;
		}
	}

	&__image-box {
		display: none;

		@media (min-width: 1150px) {
			position: relative;
			display: block;
			padding-left: 49px;
			flex-basis: 0;
			flex-grow: 1;
		}
	}

	&__image-frame {
		position: absolute;
		top: -19px;
		left: 32px;
		max-width: 432px;
	}

	&__image-man {
		position: relative;
		width: 513px;
		z-index: 2;
	}

	&__slider {
		margin: 0 -15px;

		@media (max-width: 1149px) {
			position: relative;
			display: flex;
			overflow: hidden;
			flex-direction: column;
			justify-content:center;
		}

		@media (min-width: 1150px) {
			flex-basis: 0;
			flex-grow: 1;
			// padding-top: 83px;
			// padding-bottom: 121px;
			min-width: 0;
		}
		
	}

	&__slider-item {
		animation: fadeIn ease 5s;
	}

	@keyframes fadeIn{
		0% {opacity:0;}
		100% {opacity:1;}
	}

	&__description {
		margin-bottom: 20px;
		padding-top: 77px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		color: #FFFFFF;
		background-image: url('img/testimonials/quotes.png');
		background-repeat: no-repeat;
		animation: fadeIn ease 5s;

	}

	&__author {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		color: #AABFC6;
	}

	&__arrow-wrapper {
		padding-left: 15px;
		@media (max-width: 1149px) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 8px;
		}
	}

	&__arrow {
		width: 25px;
		height: 25px;
		cursor: pointer;
		fill: none;
		stroke: #A6C1CA;
		transition-duration: 0.3s;

		&:hover {
			stroke: #FFFFFF;
			transform: scale(2);
		}
	}

	&__arrow_left {
		@media (max-width: 1149px) {
		}
	}
	
	&__arrow_right {
		margin-left: 25px;

		@media (max-width: 1149px) {
			margin-left: 50px;
		}
	}
}
